In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('/home/rohit/Downloads/hing/2011-Q1-cabi-trip-history-data_2011-Q1-cabi-trip-history-data.csv')

In [3]:
df.head()

,Duration,Start date,End date,Start station,End station,Bike#,Member Type
0,0h 1min. 50sec.,3/31/2011 23:58,4/1/2011 0:00,14th & Harvard St NW (31105),16th & Harvard St NW (31103),W00749,Registered
1,0h 16min. 21sec.,3/31/2011 23:52,4/1/2011 0:08,19th & L St NW (31224),7th & Water St SW / SW Waterfront (31609),W01048,Casual
2,0h 3min. 19sec.,3/31/2011 23:47,3/31/2011 23:50,Lincoln Park / 13th & East Capitol St NE (31619),13th & H St NE (31611),W00340,Registered
3,0h 5min. 44sec.,3/31/2011 23:45,3/31/2011 23:50,14th & R St NW (31202),Massachusetts Ave & Dupont Circle NW (31200),W00981,Registered
4,0h 8min. 42sec.,3/31/2011 23:34,3/31/2011 23:43,Park Rd & Holmead Pl NW (31602),15th & P St NW (31201),W00449,Registered

In [14]:
df['Duration'] = df['Duration'].str.replace('min','')
df['Duration']=df['Duration'].str.replace('sec','')
df['Duration']=df['Duration'].str.replace('h','') 
df['Duration']=df['Duration'].str.replace(' ','') 
df['Duration']=df['Duration'].str.replace('.','').astype(float)

In [15]:
df['Duration']

0          150.0
1         1621.0
2          319.0
3          544.0
4          842.0
           ...
150066     353.0
150067     714.0
150068     922.0
150069     546.0
150070     598.0
Name: Duration, Length: 150071, dtype: float64

In [25]:
address=df['End station'].unique()

In [26]:
address

array(['16th & Harvard St NW (31103)',
       '7th & Water St SW / SW Waterfront (31609)',
       '13th & H St NE (31611)',
       'Massachusetts Ave & Dupont Circle NW (31200)',
       '15th & P St NW (31201)', 'Adams Mill & Columbia Rd NW (31104)',
       '21st & M St NW (31212)', '14th & V St NW (31101)',
       '7th & T St NW (31109)', 'Georgia Ave and Fairmont St NW (31207)',
       '20th & E St NW (31204)', '14th St & Spring Rd NW (31401)',
       '14th & Rhode Island Ave NW (31203)',
       '17th & Corcoran St NW (31214)',
       '25th St & Pennsylvania Ave NW (31237)',
       '10th & Monroe St NE (31504)',
       'C & O Canal & Wisconsin Ave NW (31225)', '18th & M St NW (31221)',
       '11th & Kenyon St NW (31102)', '3rd & H St NE (31616)',
       'Park Rd & Holmead Pl NW (31602)',
       'Calvert St & Woodley Pl NW (31106)',
       'Georgia & New Hampshire Ave NW (31400)', '10th & U St NW (31111)',
       'Potomac & Pennsylvania Ave SE (31606)',
       'Columbus Circle / Union Station (31623)',
       'Florida Ave & R St NW (31503)', '14th & D St SE (31607)',
       'McPherson Square - 14th & H St NW (31216)',
       'Lincoln Park / 13th & East Capitol St NE  (31619)',
       '13th & D St NE (31622)', '21st & I St NW (31205)',
       '16th & U St NW (31229)', '12th & Army Navy Dr (31008)',
       '14th & R St NW (31202)', '5th St & K St NW (31600)',
       '19th St & Pennsylvania Ave NW (31100)',
       'Wisconsin Ave & Macomb St NW (31302)',
       '4th & East Capitol St NE (31618)', '3rd & D St SE (31605)',
       'Van Ness Metro / UDC (31300)',
       'Tenleytown / Wisconsin Ave & Albemarle St NW (31303)',
       '1st & M St NE (31603)',
       '36th & Calvert St NW / Glover Park (31304)',
       'S Glebe & Potomac Ave (31010)', '8th & H St NW (31228)',
       'New York Ave & 15th St NW (31222)',
       '13th St & New York Ave NW (31227)',
       'Lamont & Mt Pleasant NW (31107)',
       'Eckington Pl & Q St NE (31505)',
       '4th St & Massachusetts Ave NW (31604)',
       'Eastern Market / 7th & North Carolina Ave SE (31610)',
       'Convention Center / 7th & M St NW (31223)',
       'M St & New Jersey Ave SE (31208)', 'Kennedy Center (31211)',
       '14th & Harvard St NW (31105)',
       'Connecticut Ave & Newark St NW / Cleveland Park (31305)',
       '17th & K St NW [formerly 17th & L St NW] (31213)',
       '14th & G St NW (31238)', '4th & M St SW (31108)',
       'Eastern Market Metro / Pennsylvania Ave & 7th St SE (31613)',
       "L'Enfant Plaza / 7th & C St SW (31218)", '19th & L St NW (31224)',
       '20th St & Florida Ave NW (31110)',
       'Harvard St & Adams Mill Rd NW (31112)',
       'Ward Circle / American University (31301)',
       '19th St & Constitution Ave NW (31235)',
       'Bladensburg Rd & Benning Rd NE (31617)', '5th & F St NW (31620)',
       '27th & Crystal Dr (31009)', '18th & Hayes St (31004)',
       'North Capitol St & F St NW (31624)',
       'Good Hope & Naylor Rd SE (31700)', '15th & Crystal Dr (31003)',
       '34th St & Wisconsin Ave NW (31226)',
       '37th & O St NW / Georgetown University (31236)',
       '20th & Crystal Dr (31002)', '18th & Bell St (31007)',
       '23rd & Crystal Dr (31011)',
       'USDA / 12th & Independence Ave SW (31217)',
       'US Dept of State / Virginia Ave & 21st St NW (31220)',
       '12th & Newton St NE (31501)', 'S Joyce & Army Navy Dr (31006)',
       '12th & Hayes St (31001)',
       'John McCormack Dr & Michigan Ave NE (31502)',
       '10th St & Constitution Ave NW (31219)',
       'Georgetown Harbor / 30th St NW (31215)',
       '19th & East Capitol St SE (31601)', '1st & N ST SE (31209)',
       '19th & E Street NW (31206)',
       'Pennsylvania & Minnesota Ave SE (31805)',
       'Anacostia Library (31804)',
       '8th & Eye St SE / Barracks Row (31608)', '23rd & Eads (31013)',
       '26th & Crystal Dr (31012)', 'Anacostia Metro (31801)',
       '15th & Hayes St (31005)', '4th & Adams St NE (31500)',
       '20th & Bell St (31000)',
       '14th St Heights / 14th & Crittenden St NW (31402)', nan,
       'Minnesota Ave Metro/DOES (31703)',
       'Randle Circle & Minnesota Ave NE (31702)',
       'Good Hope Rd & MLK Ave SE (31802)',
       'Benning Branch Library (31705)',
       'Nannie Helen Burroughs & Minnesota Ave NE (31704)',
       'Alta Bicycle Share Demonstration Station (31999)'], dtype=object)

In [27]:
df=df.dropna()

In [31]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Start station']=le.fit_transform(df['Start station'])
df['End station']=le.fit_transform(df['End station'])
df['Bike#']=le.fit_transform(df['Bike#'])

/tmp/ipykernel_8304/3798493523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Start station']=le.fit_transform(df['Start station'])
/tmp/ipykernel_8304/3798493523.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['End station']=le.fit_transform(df['End station'])
/tmp/ipykernel_8304/3798493523.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bike#']=le.fit_transform(df['Bike#'])

In [32]:
df.head()

,Duration,Start date,End date,Start station,End station,Bike#,Member Type
0,150.0,2011-03-31 23:58:00,4/1/2011 0:00,12,21,624,Registered
1,1621.0,2011-03-31 23:52:00,4/1/2011 0:08,30,58,890,Casual
2,319.0,2011-03-31 23:47:00,3/31/2011 23:50,86,8,275,Registered
3,544.0,2011-03-31 23:45:00,3/31/2011 23:50,13,88,831,Registered
4,842.0,2011-03-31 23:34:00,3/31/2011 23:43,94,20,367,Registered

In [36]:
x=df.iloc[:,[0,3,4,5]]
y=df.iloc[:,-1]

In [38]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [41]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(max_leaf_nodes=3,random_state=0)
dt.fit(x_train,y_train)

DecisionTreeClassifier(max_leaf_nodes=3, random_state=0)

In [42]:
y_predcit=dt.predict(x_test)

In [46]:
from sklearn.metrics import accuracy_score,classification_report
ac=accuracy_score(y_test,y_predcit)
cm=classification_report(y_test,y_predcit)

In [55]:
print("{:.2f}".format(ac*100))

88.41

In [48]:
print(cm)

              precision    recall  f1-score   support

      Casual       0.77      0.29      0.42      4364
  Registered       0.89      0.99      0.94     25648

    accuracy                           0.88     30012
   macro avg       0.83      0.64      0.68     30012
weighted avg       0.87      0.88      0.86     30012