In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('/home/rohit/Downloads/hing/2011-Q1-cabi-trip-history-data_2011-Q1-cabi-trip-history-data.csv')

In [3]:
df.head()

,Duration,Start date,End date,Start station,End station,Bike#,Member Type
0,0h 1min. 50sec.,3/31/2011 23:58,4/1/2011 0:00,14th & Harvard St NW (31105),16th & Harvard St NW (31103),W00749,Registered
1,0h 16min. 21sec.,3/31/2011 23:52,4/1/2011 0:08,19th & L St NW (31224),7th & Water St SW / SW Waterfront (31609),W01048,Casual
2,0h 3min. 19sec.,3/31/2011 23:47,3/31/2011 23:50,Lincoln Park / 13th & East Capitol St NE (31619),13th & H St NE (31611),W00340,Registered
3,0h 5min. 44sec.,3/31/2011 23:45,3/31/2011 23:50,14th & R St NW (31202),Massachusetts Ave & Dupont Circle NW (31200),W00981,Registered
4,0h 8min. 42sec.,3/31/2011 23:34,3/31/2011 23:43,Park Rd & Holmead Pl NW (31602),15th & P St NW (31201),W00449,Registered